@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Macondo&family=Nunito+Sans:wght@200&family=Poppins:wght@300&family=Roboto+Flex:opsz,wght@8..144,100&family=Roboto:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
 
}


.container {
 max-width: 1000px;
  margin: 20px auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
  
  
 
}
.myNoteTitle{
  text-align: center;
  border-bottom: 1px solid black;
  display: inline-block;
  width: auto;

 
}
small {
  color: black;
  font-weight: bold;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.search{
  width: 50%;
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 10px;
  background-color: darkslateblue;
  
}
.notes {
  display: flex;
  flex-direction: column;
  width: 270px;
  justify-content: space-between;
  background-color: #cad3e3;
  border-radius: 10px;
  white-space: pre-wrap;
  padding: 2rem;

  min-height: 240px;
  word-wrap: break-word;
 
box-shadow: rgba(66, 7, 133, 0.35) 0px 5px 15px;
}

.notesList {
  display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
} 
.icon {
  cursor: pointer;

  
}

  
  textarea {
    border: none;
    resize: none;
    background-color: #cad3e3;
    border-radius: 4px;
    margin-top: 20px;
    font-size: .9rem;
   padding-left: 1rem;
    padding-top: 1rem;
    max-width: 100%;
  }
  ::placeholder{
    color: black;
   font-weight: bold;
  }
  textarea:focus {
    outline: none;
  }
  

.search input {
	border: none;
	background-color: #cad3e3;
	width: 100%;
  height: 6vh;
  padding-left: .5rem;
  font-size: 1.2rem;
  resize: none;
 

}
.search input:focus {
	outline: none;
}

.myHeader {
  font-size:5rem ;
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.show {
  display: block;
  height: 250px;
  background-color: darkslateblue;
  border-radius: 15px;
  padding: 30px;
}
.hide {
  display: none;
}
.bttn{
  width: 100%;
  background-color: darkslateblue;
  color: bisque;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.note2 {
  background-color: darkslateblue;
  
  border-radius: 15px;
}
.btn {
  width: 4.6rem;
  height: 40px;
  cursor: pointer;
  background: transparent;
  border: 2px solid darkslateblue;
  outline: none;
  transition: 1s ease-in-out;
  font-weight: bold;
  border-radius: 15px;
 
}


  .form{
    display:  block;
  }


.btn:hover {
  transition: 1s ease-in-out;
  background: darkslateblue;
  color: aliceblue;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
.newEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.footer2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


